body{

   font-family: Arial;
   
}
h1{

   text-align: center;

}
.persona1{

   background-color: rgb(230, 217, 173);

   padding: 20px;

}
.persona2{

   background-color: lightgreen;

   padding: 20px;

}

